Repository rndmorris/Salis-Arcana, pull requests merged in 2025-07, with the labels that each got.

#310 drop correct meta of custom planks
  src/main/java/dev/rndmorris/salisarcana/common/blocks/BlockPlank.java
Labels: bug, bug-salis

#291 Save and load additional NBT data for the Advanced Alchemical Furnace
  docs/bugfixes.md
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigBugfixes.java
  src/main/java/dev/rndmorris/salisarcana/mixins/Mixins.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/tiles/MixinTileAlchemyFurnaceAdvanced_PersistNbt.java
Labels: bug, bug-thaum

#257 Research Duplication now unlocks a new Thaumonomicon button that lets you create completed research notes for previously completed research.
  README.MD
  docs/enhancements.md
  src/main/java/dev/rndmorris/salisarcana/common/CustomResearch.java
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigFeatures.java
  src/main/java/dev/rndmorris/salisarcana/lib/ResearchHelper.java
  src/main/java/dev/rndmorris/salisarcana/mixins/Mixins.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/gui/MixinGuiResearchBrowser_DuplicateButton.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/gui/MixinGuiResearchTable_FreeDuplicates.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/tiles/MixinTileResearchTable_FreeDuplicates.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageDuplicateResearch.java
  src/main/java/dev/rndmorris/salisarcana/network/NetworkHandler.java
  src/main/resources/assets/salisarcana/lang/en_US.lang
  src/main/resources/assets/salisarcana/textures/gui/duplicate_button.png
Labels: enhancement

#303 allow crystal clusters to be silk touched
  docs/bugfixes.md
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigBugfixes.java
  src/main/java/dev/rndmorris/salisarcana/mixins/Mixins.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/blocks/MixinBlockCrystal.java
Labels: bug, bug-thaum

#300 add recipes to empty phials/jars
  docs/enhancements.md
  src/main/java/dev/rndmorris/salisarcana/common/recipes/CustomRecipes.java
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigFeatures.java
  src/main/java/dev/rndmorris/salisarcana/lib/recipe/EmptyJarRecipe.java
Labels: enhancement

#282 Localize all chat messages on the client to provide correctly translated text in Multiplayer.
  docs/bugfixes.md
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigBugfixes.java
  src/main/java/dev/rndmorris/salisarcana/mixins/Mixins.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/blocks/MixinBlockMetalDevice_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/blocks/MixinBlockMirrorItem_LocalizableText.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/blocks/MixinBlockStoneDevice_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/blocks/MixinBlockWoodenDevice_LocalizableText.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/entities/MixinEntityThaumcraftBosses_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/items/MixinItemHandMirror_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/items/MixinItemKey_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/items/MixinItemResearchNotes_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/lib/MixinWarpEvents_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/lib/events/MixinEventHandlerEntity_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/lib/network/MixinPacketPlayerCompleteToServer_LocalizeCorrectly.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/tiles/MixinTileEldritchLock_LocalizeCorrectly.java
  src/main/resources/assets/salisarcana/lang/en_US.lang
Labels: bug, bug-thaum

#321 Make the upgraded vis cost of Wand Focus: Excavation determined by the upgrade rather than the load order.
  docs/bugfixes.md
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigBugfixes.java
  src/main/java/dev/rndmorris/salisarcana/mixins/Mixins.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/items/MixinItemFocusExcavation_DeterministicCost.java
Labels: bug, bug-thaum

#277 Patterning banners with essentia now only consumes essentia, not the phial
  docs/bugfixes.md
  docs/enhancements.md
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigBugfixes.java
  src/main/java/dev/rndmorris/salisarcana/config/group/ConfigFeatures.java
  src/main/java/dev/rndmorris/salisarcana/config/settings/EldritchAltarMobSpawnSetting.java
  src/main/java/dev/rndmorris/salisarcana/config/settings/EnumSetting.java
  src/main/java/dev/rndmorris/salisarcana/mixins/Mixins.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/blocks/MixinBlockWoodenDevice_BannerPhialConsumption.java
Labels: bug, enhancement, bug-thaum

#304 Several bugfixes with inventory/container scanning
  src/main/java/dev/rndmorris/salisarcana/client/ThaumicInventoryScanner.java
  src/main/java/dev/rndmorris/salisarcana/lib/InventoryHelper.java
  src/main/java/dev/rndmorris/salisarcana/lib/ResearchHelper.java
  src/main/java/dev/rndmorris/salisarcana/mixins/late/lib/MixinScanManager.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageScanContainer.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageScanIInventory.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageScanSelf.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageScanSlot.java
  src/main/java/dev/rndmorris/salisarcana/network/NetworkHandler.java
Labels: bug, bug-salis

#327 [Bugfix] `forget-scanned` now updates the client in multi-player
  src/main/java/dev/rndmorris/salisarcana/common/commands/ForgetScannedCommand.java
  src/main/java/dev/rndmorris/salisarcana/lib/InventoryHelper.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageForgetScannedCategory.java
  src/main/java/dev/rndmorris/salisarcana/network/MessageForgetScannedObjects.java
  src/main/java/dev/rndmorris/salisarcana/network/NetworkHandler.java
Labels: bug, bug-salis
